.profile {
  height: 500px;
  width: 400px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgb(173, 173, 173);
  border-radius: 5px;
}

.description {
  height: 75%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.name {
  font-weight: 700;
  font-size: 25px;
  margin: 20px 0 0 0;
}

.tag, .location {
  font-weight: 700;
  font-size: 16px;
  margin: 20px 0 0 0;
  color: #aaa;
}

.stats {
  display: flex;
  height: 25%;
  margin: 0;
  list-style: none;
  padding: 0;
  background-color: rgb(245,245,245);
}

.stats li {
  width: 33.33%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #aaa;
}

.quantity {
  font-weight: 700;
}