.friendList {
  margin-top: 50px;
  padding: 0;
}

.item {
  background-color: #fff;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  height: 80px;
  width: 300px;
  box-shadow: 1px 1px 5px 1px rgb(173, 173, 173);
  border-radius: 3px;
}

.statusOn {
  margin-left: 10px;
  height: 15px;
  width: 15px;
  background-color: rgb(119, 196, 3);
  border-radius: 50%;
}

.statusOff {
  margin-left: 10px;
  height: 15px;
  width: 15px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
}

.avatar {
  margin-left: 10px;
}

.name {
  margin-left: 10px;
  font-size: 20px;
}